/*
 * for smartphone screen (iPhone, etc.)
 *
 */

@media screen and (max-width: 767px) {
    header {
	background: no-repeat top 0 left/70px url(../img/logo.svg);
    }

    body {
	margin: 1em;
    }

    h1 {
	font-size: 25px;
    }

    #name {
	font-size: 30px;
    }

    #name-title {
	font-size: 20px;
    }

    #banner-image {
	padding: 30px 0 10px;
    }

    .container {
	flex-wrap: wrap;
	justify-content: center;
    }

    .container > div {
	max-width: 70%;
	padding-bottom: 10px;
    }

    .project-name {
	font-size: 25px;
    }

    .project-url {
	font-size: 12px;
    }
}

/*
 * for tablet screen (iPad, etc.)
 *
 */

@media screen and (min-width: 768px) and (max-width: 991px) {
    header {
	background: no-repeat top 5px left/70px url(../img/logo.svg);
    }

    body {
	margin: 1em;
    }

    h1 {
	font-size: 25px;
    }

    #name {
	font-size: 40px;
    }

    #name-title {
	font-size: 20px;
    }

    #banner-image {
	padding: 30px 0 10px;
    }

    .container {
	justify-content: space-between;
    }

    .item {
	max-width: 32%;
    }

    .project-name {
	font-size: 25px;
    }

    .project-url {
	font-size: 12px;
    }
}

/*
 * for computer screen
 *
 */

@media screen and (min-width: 992px) {
    header {
	background: no-repeat top 10px left/70px url(../img/logo.svg);
    }

    body {
	max-width: 992px;
	margin: 2em auto;
    }

    h1 {
	font-size: 30px;
    }

    #name {
	font-size: 50px;
    }

    #name-title {
	font-size: 20px;
    }

    #banner-image {
	padding: 30px 0 10px;
    }

    .container {
	justify-content: space-between;
    }

    .item {
	max-width: 31%;
    }

    .project-name {
	font-size: 30px;
    }

    .project-url {
	font-size: 14px;
    }
}

/*
 * No media query
 *
 */

*, *:before, *:after {
    box-sizing: border-box;
}

img, embed, object, video {
    max-width: 100%;
}

article, section, aside, hgroup, nav, header, footer, figure, figcaption {
    display: block;
}

header {
    font-family: 'Raleway', sans-serif;
    text-align: right;
    border-bottom: 3px solid #7d97ad;
    padding-bottom: 30px;
}

body {
    color: #2d3c49;
    font-family: 'Montserrat', sans-serif;
}

/* TODO: example of action items */

footer {
}

h1 {
    color: #7d97ad;
}

a {
    text-decoration: none;
    min-height: 48px;
    min-width: 48px;
}

.container {
    display: flex;
    text-align: center;
}

.project-name {
    color: #2d3c49;
}

.project-url {
    color: #2d3c49;
}
