/*
 * for smartphone screen (iPhone, etc.)
 *
 */

@media screen and (max-width: 767px) {
    header {
	background: no-repeat top left/70px url(../img/logo.svg);
    }

    body {
	margin: 1em;
    }

    .name {
	font-size: 30px;
    }

    .name-title {
	font-size: 20px;
    }

    .banner-image {
	padding: 30px 0 10px;
    }

    .container {
	flex-wrap: wrap;
	justify-content: center;
    }

    .item {
	max-width: 70%;
	padding-bottom: 10px;
    }

    .project-title {
	font-size: 25px;
    }

    .project-name {
	font-size: 25px;
    }

    .project-url {
	font-size: 12px;
    }
}

/*
 * for tablet screen (iPad, etc.)
 *
 */

@media screen and (min-width: 768px) and (max-width: 991px) {
    header {
	background: no-repeat top 5px left/70px url(../img/logo.svg);
    }

    body {
	margin: 1em;
    }

    .name {
	font-size: 40px;
    }

    .name-title {
	font-size: 20px;
    }

    .banner-image {
	padding: 30px 0 10px;
    }

    .container {
	justify-content: space-between;
    }

    .item {
	max-width: 32%;
    }

    .project-title {
	font-size: 25px;
    }

    .project-name {
	font-size: 25px;
    }

    .project-url {
	font-size: 12px;
    }
}

/*
 * for computer screen
 *
 */

@media screen and (min-width: 992px) {
    header {
	background: no-repeat top 10px left/70px url(../img/logo.svg);
    }

    body {
	max-width: 992px;
	margin: 2em auto;
    }

    .name {
	font-size: 50px;
    }

    .name-title {
	font-size: 20px;
    }

    .banner-image {
	padding: 30px 0 20px;
    }

    .container {
	justify-content: space-between;
    }

    .item {
	max-width: 31%;
    }

    .project-title {
	font-size: 30px;
    }

    .project-name {
	font-size: 30px;
    }

    .project-url {
	font-size: 14px;
    }
}

/*
 * No media query
 *
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

article,
section,
aside,
hgroup,
nav,
header,
footer,
figure,
figcaption {
    display: block;
}

img,
embed,
object,
video {
    max-width: 100%;
}

a {
    text-decoration: none;
    min-height: 48px;
    min-width: 48px;
}

header {
    font-family: "Raleway", sans-serif;
    text-align: right;
    border-bottom: 3px solid #7d97ad;
    padding-bottom: 30px;
}

body {
    color: #2d3c49;
    font-family: "Montserrat", sans-serif;
}

/* TODO: example of action items */

footer {
}

.container {
    display: flex;
    text-align: center;
}

.project-title {
    color: #7d97ad;
}

.project-name {
    color: #2d3c49;
}

.project-url {
    color: #2d3c49;
}
